<div class="container shadow p-3 mb-5 bg-white rounded">
    <div class="row text-center">
        <div class="col-md-12">
            <h1><b>Koin</b></h1>
            <hr>            
        </div>
    </div>    
    <div class="row">
        <div class="col-md-12">
            <b>PeoplePower&nbsp;&nbsp;&nbsp;: </b> A representation of Public, Permissionless BlockChain. <br>
            <b>Koin &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b> CryptoCurrency based on PeoplePower. <br>
        </div>        
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            PeoplePower is built on NodeJs, Angular & currently hosted on Github. It is an attempt to understand & visualize processes in a 
            basic BlockChain, such as Cryptography, Consensus, Proof of Work, Transactions, Block Mining, Difficulty, Creation of CryptoCurrency(Mining Reward).

        </div>
    </div>
    <hr>    
    <div class="row">
        <div class="col-md-12">
            <u><b>How to use Koin ?</b></u><br>            
            Step 1: Create your Wallet by clicking on the link <u>I want a new Wallet</u> @<a routerLink="/join">Create My Wallet</a> <br>
            Step 2: Use your Wallet Keys to Access your Wallet. <br>
            Step 3: Make a Transaction to Someone you want. <br>
            Step 4: Earn Mining Reward by Mining Pending Transactions into a Block. <br>
            Step 5: Home Page displays all Blocks Mined in an order of Newest to Oldest.(Latest Mined Block at top) <br>
            Step 6: You can check your Wallet Balance in 'Wallet Balance' section. <br>
            Step 7: You can Log out from your wallet by clicking on 'Log Out' Button. <br>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <u><b>Specifications of Koin :</b></u><br>
            1) Mining Reward: <br>
            &nbsp;&nbsp;&nbsp;&nbsp;- 10 Koins. <small>(Default)</small> <br>
            &nbsp;&nbsp;&nbsp;&nbsp;- Mining Reward will be halved for every 10 Blocks mined. <br>
            2) Difficulty: <br>
            &nbsp;&nbsp;&nbsp;&nbsp;- 1 Leading Zero. <small>(Default)</small> <br>
            &nbsp;&nbsp;&nbsp;&nbsp;- As currently PeoplePower is hosted on Server, increasing the Difficulty won't affect Block Mining process that much.
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <u><b>Future Scope :</b></u><br>
            1) Building a P2P network and use Koin as CryptoCurrency. <br>
            2) Increasing the Number of Blocks required to reduce Mining Reward to half of current value. <br>
            3) Assign the Difficulty of Mining a Block to Computational Power of P2P Network at any Instance. <br>
            &nbsp;&nbsp;&nbsp;&nbsp;- Ideally Difficulty of Mining a Block is Directly Proportional to Computational Power of P2P Network at any Instance <br>
            4) Introduce Smart Contracts on PeoplePower.
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <u><b>Documentation & References :</b></u><br>
            Documentation:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;- <a href="https://github.com/Prathamesh9199/BlockChain" target="_blank">My BlockChain Repository</a> <br>

            Reference:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;- <a href="https://bitcoin.org/bitcoin.pdf" target="_blank">Bitcoin: A Peer-to-Peer Electronic Cash System. [Satoshi Nakamoto]</a> 
        </div>
    </div>
</div>
